

// --------------------------------------------------------------------------
//   THIS IS THE 'INTRO' COMPONENT
// --------------------------------------------------------------------------


.Intro {

}

.Intro--feature {

}

.Intro-header {
	margin: 10% 0;

}

.Intro-image {  /* The image used */
	background-image: url("/Pictures/Header.png");

	height: auto;
	width: 100%;

	z-index: 0;
	padding: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 1.5%

}

.Intro-avatar {
	display: inline-block;
	float: left;
	height: 44px;
	margin: 5px 12px 0 20px;
	border-radius: 25%;
}
