/**
 * Site header
 */

.headImage {

}

.site-header {
	// border-top: 5px solid $grey-color-dark;
	border-bottom: 1px solid $grey-color-light;
	min-height: 56px;


	// Positioning context for the mobile navigation icon
	position: relative;
}

.site-title {
	font-size: 26px;
	font-weight: 300;
	line-height: 56px;
	letter-spacing: -1px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	float: center;

	&,
	&:visited {
		color: $grey-color-dark;
	}
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.HeaderText {
	// in type.elements & main.css
	text-align: center;
	padding: 5em;
	word-spacing: 1em;
	padding-top: 10%;
	padding-bottom: 10%;
		h1, h2{
			font-weight: bold;
			font-style: italic;
		}


}

.site-nav {
	float: right;
	line-height: 56px;
	margin-right: 3%;
	text-align: absolute;

	.nav-text{


	}

	.menu-icon {
		display: none;
	}
	.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.nav-menu{
				z-index:1000000;
				font-weight:bold;
				font-size:0.8em;
				width:100%;
				background:#f1f1f1;
				position:relative;
				text-align:center;
				font-size:12px;
			}
.nav-menu ul {
						margin:5%;
						padding: 5%;
						list-style-type: none;
						list-style-image: none;
					}
.nav-menu li {
						display: block;
						padding:15px 0 15px 0;
						border-bottom:#dddddd 1px solid;
					}
.nav-menu li:hover{
								display: block;
								background:#ffffff;
								padding:15px 0 15px 0;
								border-bottom:#dddddd 1px solid;
							}
.nav-menu ul li a {
								text-decoration:none;
								margin: 0px;
								color:#666;
}
.nav-menu ul li a:hover {
											color: #666;
											text-decoration:none;
}
.nav-menu a {
					text-decoration:none;
					color:#666;
}
.nav-menu a:hover {
								text-decoration:none;
								color:#666;
}

.glyphicon-home{
  								color:white;
  								font-size:1.5em;
  								margin-top:5px;
  								margin:0 auto;
}



	.page-link {
		color: $text-color;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the last one
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	@include media-query($on-palm) {
		position: absolute;
		top: 9px;
		right: $spacing-unit / 2;
		background-color: $background-color;
		border: 1px solid $grey-color-light;
		border-radius: 5px;
		text-align: right;

		.menu-icon {
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
				width: 18px;
				height: 15px;

				path {
					fill: $grey-color-dark;
				}
			}
		}

		.trigger {
			clear: both;
			display: none;

		}

		&:hover .trigger {
			display: block;
			padding-bottom: 5px;
		}

		.page-link {
			display: block;
			padding: 5px 10px;

			&:not(:last-child) {
				margin-right: 0;
			}
		}
	}
}



/**
 * Site footer
 */
.site-footer {
	border-top: 1px solid $grey-color-light;
	padding: $spacing-unit 0;
}

.footer-heading {
	font-size: 18px;
	margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
}

.footer-col-wrapper {
	font-size: 15px;
	color: $grey-color;
	margin-left: -$spacing-unit / 2;
	@extend %clearfix;
}

.footer-col {
	float: left;
	margin-bottom: $spacing-unit / 2;
	padding-left: $spacing-unit / 2;
}

.footer-col-1 {
	width: -webkit-calc(35% - (#{$spacing-unit} / 2));
	width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
	width: -webkit-calc(20% - (#{$spacing-unit} / 2));
	width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
	width: -webkit-calc(45% - (#{$spacing-unit} / 2));
	width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
	.footer-col-1,
	.footer-col-2 {
		width: -webkit-calc(50% - (#{$spacing-unit} / 2));
		width:         calc(50% - (#{$spacing-unit} / 2));
	}

	.footer-col-3 {
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:         calc(100% - (#{$spacing-unit} / 2));
	}
}

@include media-query($on-palm) {
	.footer-col {
		float: none;
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:         calc(100% - (#{$spacing-unit} / 2));
	}
}



/**
 * Page content
 */

 .post-article {
	 transition-timing-function: ease-out;
	 margin-bottom: 1.725rem;
	 border: 1px solid rgba(3, 13, 24, 0.15);
	 display: inline-block;
	 padding: 1.5rem 1.5rem 0.75rem;
	 text-align: center;
	 width: 100%;
 }

 .post-article:hover .post-image{
	 opacity: 0.3;
 }
 .post-article:hover .post-content{
	 opacity: 0.1;
 }

 .post-image {
	opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
	height: 21vh;
	margin-bottom: 0.75rem;
	position: relative;
	width: 100%;
 }

.page-content {
	padding: $spacing-unit 0;
}

.page-heading {
	text-decoration: underline;
	font-size: 25px;
	font-style: italic;
}

.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $grey-color;
}

.post-link {
	display: block;
	font-size: 24px;
}

.main-objects {
	h3{
		font-weight: bold;
		text-align: center;
	}
}


/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
position: relative;
background-color: transparent;
color: red;
font-size: 32px;
padding: 25% 10%;
letter-spacing: -1px;
line-height: 1;
margin-bottom: 50%;

	@include media-query($on-laptop) {
		font-size: 36px;
	}
}

.post-content {
	transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	margin-bottom: $spacing-unit;

	h2 {
		font-size: 32px;

		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}

	h3 {
		font-size: 26px;

		@include media-query($on-laptop) {
			font-size: 22px;
		}
	}

	h4 {
		font-size: 20px;

		@include media-query($on-laptop) {
			font-size: 18px;
		}
	}
}

.Zone {
	padding: 5em;
}
